/*importing Google fonts - Montserrat*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Oswald:wght@200..700&family=Playwrite+DE+Grund:wght@100..400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


.slider-container{
    position: relative;
    height: 100%;
    width: 100% ;
    overflow:hidden ;
}


.slider-wrapper .slider-items{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

}
.slider-wrapper .slider-items::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(20%);
    background-image: url("../asset/image/wallpaperflare.com_wallpaper\ \(8\).jpg");
    background-size: cover;
    background-position: center;
  
}


.slider-wrapper .slider-items:nth-child(2):before{
    background-image: url("../asset/image/wallpaperflare.com_wallpaper\ \(1\).jpg");
}


.slider-wrapper .slider-items:nth-child(3):before{
    background-image: url("../asset/image/wallpaperflare.com_wallpaper\ \(11\).jpg");
}


.slider-wrapper .slider-items:nth-child(4):before{
    background-image: url("../asset/image/wallpaperflare.com_wallpaper\ \(3\).jpg");
}


.slider-wrapper .slider-items:nth-child(5):before{
    background-image: url("../asset/image/wallpaperflare.com_wallpaper\ \(4\).jpg");
}    









.slider-wrapper .slider-items .slider-content{
 
    color: white;
    z-index: 20;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 10px;
    max-width: 1400px;
    position: relative;

}


.slider-items.swiper-slide-active :where(.slide-subtitle,.slide-title) {
    animation: animate_text 0.6s 0.6s linear forwards;
}


.slider-items.swiper-slide-active .slider-description {
    animation: animate_text 0.6s 1s linear forwards;
}

@keyframes animate_text {
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
      
}
.slider-items .slider-content .slider-description{
    margin-top: 25px;
    line-height: 25px;
    opacity: 0;
    transform: translateY(60%);
} 

.slider-items .slider-content .slide-subtitle{
    font-size: 1rem;
    font-weight: normal;
    opacity: 0;
    transform: translateY(60%);
}

.slider-wrapper .slider-items .slider-content > *{
    max-width: 35%;
}

.slider-items .slider-content .slide-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 5px;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(60%);

}



 .slider-items .slider-content .slide-button {
    color: white;
    opacity: 0;
    width: 0;
    padding: 13px 0 ;
    display: block;
    margin-top: 45px;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid white;
    transition: 0.5s ease;
 }

 .slider-items .slider-content .slide-button span{
    opacity: 0;
 }

 .slider-items.swiper-slide-active .slide-button {
    animation: animate_button 0.6s 1.3s linear forwards;
}

.slider-items.swiper-slide-active .slide-button span {
    animation: animate_button 0.6s 1.5s linear forwards;
}
@keyframes animate_button {
    100%{
        opacity: 1;
       width: 250px;
    }
      
}

 .slider-items .slider-content .slide-button:hover{
    color: black;
    background-color: white;
 }


 .slider-container .slider-control{
    position: absolute;
    bottom: 45px;
    z-index: 20;
    width: 100%;
    scrollbar-width: none;
 }

 .slider-control .slider-pagination{
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    padding: 0 20px ;
    max-width: 1400px;
    list-style: none;
    justify-content: space-between;
 }

 .slider-pagination .slider-tab{
    color: white;
    font: 0.85rem;
    text-align: center;
    cursor: pointer;
    padding: 20px 30px;
    border-bottom:1px solid rgb(255,255,255,0.5);
   

 }

 .slider-pagination .slider-indication{
    position: absolute;
    bottom: 0;
   
    border-bottom: 1px solid white;
    transition: 0.4s ease-in-out;
 }

 .slider-navigation button{

    position: absolute;
     top: 50%;
     height:40px ;
     width: 40px;
     cursor: pointer;
     border: none;
     z-index: 20;
     color: #fff;
     background:#202022 ;
     transform: translateY(-50%);
     transition: 0.4s ease;
 }

 .slider-navigation button.swiper-button-disabled{
    display: none ;
 }


 .slider-navigation button:hover{
    background: #323235;
 }

 .slider-navigation button#slide-prev{
    left: 20px;

 }

 .slider-navigation button#slide-next{
    right: 20px;

 }

 @media (max-width: 1536){
    .slider-wrapper .slider-items .slider-content,
    .slider-control .slider-pagination
    {
        width: 85%;
    }
 }

 @media(max-width: 1024px){
    .slider-wrapper .slider-items .slider-content,
    .slider-control .slider-pagination
    {
        max-width: 100%;
    }
    .slider-navigation button{
        top: unset;
        bottom: -15px;
        background: none;


    }
    .slider-navigation button:hover{
        background: none;

    }

 }

 @media(max-width: 768px){
    .slider-wrapper .slider-items .slider-content > *{
        max-width: 100%;
    }
 }
